body{
  margin: 0;
    border: dashed 1px red;
  }
.wrapper {
  margin: auto;
    width: 80%;
      border: dashed 1px red;
    }
.header {
  display:flex;
    justify-content:space-between;
       border:dashed 1px red;
     }
.logo {
  display:inline-block;
    border:dashed 1px red;
      padding:40px 0;
    }
.menu {
  display:flex;
    align-items:center;
      border:dashed 1px red;
    }
.menu__item {
  padding: 0 13px;
     border: dashed 1px red;}
.menu__item {
   padding: 0 13px;
      border: dashed 1px red;}
.menu__item {
    padding: 0 13px;
       border: dashed 1px red;}
.menu__item {
    padding: 0 13px;
        border: dashed 1px red;}
.menu__item :last-child {
  padding-right: 0;
   }
.main-section {
  border: dashed 1px red;
  }
